.content {
    display: grid;
    padding: 10px;
    margin: auto;
    gap: 2rem;
    justify-content: center;
    grid-template-columns: auto auto;
    align-items: center;
}

img {
    width: 200px;
    height: 200px;
    object-fit: "contain";
    margin-left: 10px;
}