.button {
    background-color: blue;
    color: white;
    height: 32px;
    border: none;
    padding-inline: 16px;
    border-radius: 16px;
    cursor: pointer;

    &:hover {
        background-color: green;
    }

}

.batal {
    background-color: green;
    color: white;
    height: 32px;
    border: none;
    padding-inline: 16px;
    border-radius: 16px;
    cursor: pointer;

    &:hover {
        background-color: blue;
    }

}